# Python cache
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]

# Virtual Environment
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# MacOS
.DS_Store

# Artifacts (VERY IMPORTANT for ML)
artifacts/
error_prone_images/
logs/